node_modules
dist/*
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swf

npm-debug.log
dump.rdb

.DS_Store
.tmp
.build
.nodemonignore
.sass-cache/
.bower-*/
.vscode
db.json

src/cytron_rollup.js

public/build
dist/
build/
esdocs/
docsAPI/
coverage/

jsconfig.json
typings

.vscode
.idea
package-lock.json
*yarn.lock*