body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.root {
  width: 100%;
  height: 100%;
  color: #777;
  padding-bottom: 40px;
}
.head {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.title {
  font-size: 22px;
  font-weight: bold;
  padding: 30px 0 20px;
}
.desc {
  font-size: 18px;
  opacity: 0.7;
  line-height: 30px;
}
.btn {
  display: inline-block;
  color: rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.08);
  border-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  margin: 20px 0 30px;
}
.btn:hover {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.3);
}
.itemRoot {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}
.itemRoot img, .userInput {
  width: 500px;
  height: 100%;
  float: left;
  border-radius: 8px;
}
.mes {
  width: 200px;
  height: 100%;
  float: right;
  text-align: center;
}
.mesTitle {
  color: #222;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
}
.topBlock, .bottomBlock {
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: #777;
  font-size: 12px;
  margin: 0 auto;
  white-space: nowrap;
  border-radius: 2px;
}
.bottomBlock {
  margin-bottom: 10px;
}
.line {
  width: 80%;
  height: 2px;
  background: #e6e6e6;
  margin: 20px auto;
}
.userInput {
  border: 2px dashed #e6e6e6;
  color: #e6e6e6;
  line-height: 400px;
  text-align: center;
  font-size: 20px;
}
.close {
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 180px;
  left: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  cursor: pointer;
}
.itemRoot:hover .close {
  opacity: 1;
}
.itemRoot:hover .mask {
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}
.input {
  display: none;
}